name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build APK with Buildozer
        uses: Kou-S/buildozer-action@v2
        with:
          python-version: '3.10'
          buildozer-version: 'stable'
